.head-line{
  margin-top : 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px
}

.menus {
  margin-top : 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 박스안 감싸줌 */
  border-top: 1px solid #ebebeb;
  border-bottom: 4px solid black;
}

.menus button{
  border:none;
  background: none;
  margin: 5px;
}

.menus button:hover{
  background-color: beige;
}


.news-img-size{
  max-width: 100%;
  min-height: 250px;
}

.news{
  border-bottom: 2px solid black;
}


.search-container {
  display: flex;            /* 아이콘 + 검색창 가로 배치 */
  align-items: center;      /* 수직 정렬 */
  position: relative;       /* 필요 시 자식의 absolute 기준이 될 수 있음 */
  margin: 1rem;     
}

.search-icon {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
}

.search-bar {
  display: none;
  text-align: center;
  margin-top: 1rem;
  margin-top: 3px;
  margin-left: 7px;  
}

.search-bar.active {
  display: flex;
}

.search-bar button {
  background-color: gray;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  margin-left: 1px; 
}

.search-bar button:hover {
  background-color: black;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px; /* 숨김 상태 */
  width: 250px;
  height: 100vh;
  background-color: #f5f5f5;
  border-left: 1px solid #ccc;
  transition: right 0.3s ease-in-out;
  padding: 1rem;
  z-index: 999;
}

.side-menu.open {
  right: 0;
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu li {
  margin: 1rem 0;
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px; /* news-img-size의 최소 높이와 맞춤 */
  background-color: #eee;
  color: #666;
  font-size: 1rem;
}


@media (max-width: 768px) {
  .menus {
    display: none; 
  }
  .hamburger-menu {
    display: block;
  }
}